.scroll-to-top(style='opacity: 0')
  i.fa.fa-arrow-circle-up

.prefooter
  .container
    .row
      .block
        h2 О нас
        p
          a(href='/4-kontakty') Контакты
      .block
        h2 Удобный поиск
        p
          a(href='/1-goroda') Города
          br
          a(href='/2-rayony') Районы
          br
          a(href='/3-metro') Метро

      .block
        h2 По городам
        p
          a(href='/?s[city]=1') Санкт-Петербург
          br
          a(href='/?s[city]=2') Москва
          br
          a(href='/?s[city]=4') Новосибирск
      .block
        h2 Контакты
        address
          | Телефон: (812) 987-46-39
          br
          | Email: 
          span.color-green info@arendabc.ru

footer
  .container 2016 &copy; ArendaBC