header
  .container
    .row
      .page-logo
        a(href='/') Arenda
          span BC

      .phone
        a.tel.not-route(href='tel:+78126424883') (812) 987-46-39
        br
        #call-request!= call_request

      .favorites-header
        | В избранном:
        #favorites-mini!= favorites_mini
      
      .city-picker
        #city-picker!= citi_picker