doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block description
      meta(name='description' content=meta && meta.description)
    block keywords
      meta(name='keywords' content=meta && meta.keywords)
    meta(name='yandex-verification' content='480a3a38dcc62155')
    block title
      title ArendaBC
    link(rel='stylesheet', href='/css/all.min.css')

  body
    include ./header
    .page-container
      block content
    include ./footer
    script(src='/js/all.min.js')
    script(type='text/javascript').
      window.preloader = !{JSON.stringify(preloader || {})};  
    include ./_counters