extends layouts/main

block description
  meta(name='description' content=page.get('meta_description'))
block keywords
  meta(name='keywords' content=page.get('meta_keywords'))
block title
  title #{page.get('title')}

block content
  #prime-cont
    .page-head
      .container
        h1.page-title
          span #{page.get('title')}
    .container.page-container!= page.get('content')