extends layouts/main

block title
  title Бизнес центр #{bc.get('title')} ArendaBC аренда офиса или помещения, деловой центр #{bc.get('title')} — продажа офисов в БЦ #{bc.get('title')} в Санкт-Петербурге

block content
  #prime-cont!= prime_cont
  .promo#promo-container(style='display: none')
    include ./_promo