$color-brand: #4db393;
.color-brand {
  color: #4db393;
}
$color-green: #32c5d2;
.color-green {
  color: #32c5d2;
}
$color-default: #E1E5EC;
.color-default {
  color: #E1E5EC;
}
$color-blue-steel: #4B77BE;
.color-blue-steel {
  color: #4B77BE;
}
$color-blue-hoki: #67809F;
.color-blue-hoki {
  color: #67809F;
}
$color-yellow: #C49F47;
.color-yellow {
  color: #C49F47;
}
$color-red-pink: #E08283;
.color-red-pink {
  color: #E08283;
}
$color-grey-mint: #525E64;
.color-grey-mint {
  color: #525E64;
}
$color-red-thunderbird: #D91E18;
.color-red-thunderbird {
  color: #D91E18;
}
$color-red: #E7505A;
.color-red {
  color: #E7505A;
}
$color-purple-plum: #8775A7;
.color-purple-plum {
  color: #8775A7;
}