.bcItemList {
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  .info {
    @include make-xs-column(12);
    @include make-md-column(5);
    .img {
      float: left;
      position: relative;
      width: 200px;
      height: 200px;
      .grade-label {
        position: absolute;
        top: 0;
        left: 0;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .phone {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.6);
        padding: 7px 0;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        transition: background-color .3s;
        &:hover,
        &:focus {
          text-decoration: none;
          background-color: rgba(0,0,0,0);
          outline: none;
        }
      }
      @media (max-width: $screen-xs) {
        & {
          width: 100%;
        }
      }
    }
    .cont {
      padding-left: 15px;
      overflow: hidden;
      .address {
        line-height: 16px;
        font-style: italic;
        margin: 3px 0 6px;
      }
      .regions {
        .label {
          background: $color-blue-hoki;
          margin-right: 2px;
        }
      }
      .metros {
        margin-top: 10px;
        font-size: 12px;
        .dist {
          white-space: pre;
        }
      }
    }
    .title {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .services {
    @include make-xs-column(12);
    @include make-md-column(3);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .rooms {
    @include make-xs-column(12);
    @include make-md-column(4);
    position: static;
  }
}

.bcItemGrid {
  padding-bottom: $def-min-margin / 2;
  padding-top: $def-min-margin / 2;
  @include make-xs-column(12);
  @include make-md-column(6);
  .info {
    .img {
      float: left;
      position: relative;
      width: 200px;
      height: 200px;
      .grade-label {
        position: absolute;
        top: 0;
        left: 0;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .phone {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.6);
        padding: 7px 0;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        transition: background-color .3s;
        &:hover,
        &:focus {
          text-decoration: none;
          background-color: rgba(0,0,0,0);
          outline: none;
        }
      }
      @media (max-width: $screen-xs) {
        & {
          width: 100%;
        }
      }
    }
    .cont {
      padding-left: 15px;
      overflow: hidden;
      .address {
        line-height: 16px;
        font-style: italic;
        margin: 3px 0 6px;
      }
      .regions {
        .label {
          background: $color-blue-hoki;
          margin-right: 2px;
        }
      }
      .metros {
        margin-top: 10px;
        font-size: 12px;
        .dist {
          white-space: pre;
        }
      }
    }
    .title {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

#searchBar {
  background: $color-default;
  padding: 15px 0;
  transition: transform .3s ease-in;
  .row {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .form-group {
    > input,
    .btn-group,
    .dropdown-toggle,
    .dropdown-menu {
      width: 100%;
    }
  }
  .field-1 {
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-md-column(1);
  }
  .field-2 {
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-md-column(2);
  }
  .field-3 {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);
  }
  .field-4 {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
  }
  .spacer {
    width: 100%;
    height: $def-min-margin;
    clear: both;
  }
  .multiselect {
    .dropdown-menu {
      max-height: 402px;
      min-width: 190px;
      overflow-x: hidden;
      overflow-y: auto;
      li {
        a {
          white-space: initial;
          font-size: 12px;
        }
      }
    }
  }
  .input-range .dropdown-menu {
    padding: 10px;
    input {
      width: 40%;
      text-align: center;
    }
    .dash-divider {
      display: inline-block;
      width: 20%;
      text-align: center;
    }
    button {
      margin-top: 10px;
    }
    .btn-clear {
      background-color: $color-red-pink;
      color: #fff;
    }
  }
  .mobileToggle {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    cursor: pointer;
    background: $color-default;
    text-align: center;
    color: #fff;
    font-size: 20px;
    i:before {
      content: "\f078";
    }
  }
}
.sticky #searchBar {
  padding: 7px 0;
  @media (max-width: $screen-sm) {
    transform: translateY(-100%);
  }
  &.mobileToggled {
    transform: translateY(0);
    overflow: auto;
    .mobileToggle {
      position: static;
      margin-bottom: -7px;
      i:before {
        content: "\f077";
      }
    }
  }
}

.callRequest {
  a {
    cursor: pointer;
  }
}

#searchResult {
  margin-top: 15px;
}

#paginator {
  text-align: center;
  .icon-spinner {
    font-size: 12px;
  }
}

#searchMap {
  .map-placeholder {
    position: relative;
    padding: $def-min-margin 0;
    background-image: url('../img/map.jpg');
    background-size: cover;
    background-color: #fff;
    text-align: center;
  }
  .map-holder {
    position: relative;
    height: $searchmap-height;
    overflow: hidden;
  }
  .map-hide {
    position: absolute;
    left: $def-min-margin;
    bottom: $def-min-margin;
  }
  .bc-all {
    position: absolute;
    left: $def-min-margin;
    top: $def-min-margin;
  }
}

#BCView {
  .bcMedia {
    .tabs-content {
      background: $color-grey-mint;
      height: $bc-media-height;
      overflow: hidden;
    }
    .mediaPhoto {
      .slick-list {
        height: $bc-media-height;
      }
      img {
        margin: 0 auto;
        height: $bc-media-height;
      }
    }
    .mediaMap {
      height: $bc-media-height;
    }
  }
  .bcInfo {
    background: #fff;
    padding: 10px;
    margin-top: $def-margin;
    .regions {
      @include make-xs-column(12);
      @include make-md-column(6);
      .label {
        background: $color-blue-hoki;
        margin-right: 2px;
      }
    }
    .metros {
      @include make-xs-column(12);
      @include make-md-column(6);
      text-align: right;
    }
  }
  .bcRooms {
    margin-top: $def-margin;
    .businessCenterRooms.expanded {
      padding-bottom: 0;
      .toggle {
        position: static;
        display: block;
      }
    }
    .requests {
      .callRequest {
        margin-top: $def-min-margin;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .phone{
      font-size: 22px;
      padding-left: 10px;
    }
  }
  .bcServices {
    margin-top: $def-margin;
    .businessCenterServices {
      columns: 4;
    }
    .service {
      vertical-align: top;
      margin-top: 5px;
    }
  }
  .bcDescription {
    margin-top: $def-margin;
    h2 {
      margin-top: 0;
      font-size: 20px;
    }
  }
  .bcSimilarBC {
    margin-top: $def-margin;
    .portlet-title {
      border-color: $color-blue-hoki;
    }
    .portlet-body {
      transition: opacity .5s;
    }
    .nav-tabs > li {
      &.active {
        border-bottom: 4px solid $color-blue-hoki;
      }
      &.disabled {
        display: none;
      }
    }
  }
}

.bcMarker {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  &.hover {
    z-index: 2;
    padding: 5px 10px;
    background: #fff;
    font-size: 14px;
    white-space: pre;
    .address {
      font-size: 12px;
      color: $color-grey-mint;
    }
  }
  .icon {
    background-image: none!important;
  }
}

.businessCenterRooms {
  &.expanded {
    padding-bottom: 32px;
  }
  table {
    width: 100%;
    font-size: 13px;
    td, th {
      white-space: pre;
    }
    td {
      text-align: center;
      padding: 7px 8px;
    }
    thead {
      tr {
        border-bottom: 1px solid #F2F5F8;
      }
      th {
        text-align: center;
        font-weight: normal;
        color: #a7b3b9;
        padding: 8px;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: #eef1f5;
        }
      }
    }
    .delimeter {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .fa-bookmark {
    color: $color-yellow;
  }
  & > .toggle {
    position: absolute;
    right: 8px;
    bottom: 7px;
  }
}

.businessCenterServices {
  .service {
    display: inline-block;
    position: relative;
    margin: 5px 5px 0 0;
    border: 1px solid #ddd;
    padding: 5px 10px 5px 40px;
    background-color: #fafafa;
    color: #646464;
    &:before {
      position: absolute;
      font-family: 'arendabc' !important;
      font-size: 20px;
      left: 0;
      width: 40px;
      text-align: center;
      height: 20px;
      line-height: 20px;
      margin: auto 0;
      top: 0;
      bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
    .title,
    .desc {
      vertical-align: top;
    }
    .title {
      font-size: 14px;
    }
    .desc {
      @extend .text-muted;
      font-size: 12px;
    }
  }
}
.favorites {
  .bcs_list {
    margin-top: $def-margin;
  }
}
.favorites-mini {
  position: relative;
  color: $color-grey-mint;
  display: inline-block;
  cursor: default;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:after {
    content: '\f08a';
    font-family: FontAwesome;
    font-size: 25px;
  }
  &.active {
    cursor: pointer;
    color: $color-red-thunderbird;
  }
  span {
    @include centerer();
    font-size: 10px;
  }
}