@font-face {
    font-family: 'arendabc';
    src:
        url('../fonts/arendabc.ttf?qy0a0c') format('truetype'),
        url('../fonts/arendabc.woff?qy0a0c') format('woff'),
        url('../fonts/arendabc.svg?qy0a0c#arendabc') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'arendabc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search-minus:before {
    content: "\e90f";
}
.icon-search-plus:before {
    content: "\e90e";
}
.icon-spinner:before {
    content: "\e90d";
}
.icon-fan:before {
    content: "\e90b";
}
.icon-nds:before {
    content: "\e904";
}
.icon-conditioning:before {
    content: "\e905";
}
.icon-electricity:before {
    content: "\e906";
}
.icon-atm:before {
    content: "\e907";
}
.icon-broom:before {
    content: "\e902";
}
.icon-pin:before {
    content: "\e90c";
}
.icon-ku:before {
    content: "\e908";
}
.icon-internet:before {
    content: "\e909";
}
.icon-calendar:before {
    content: "\e903";
}
.icon-shield:before {
    content: "\e900";
}
.icon-restaurant:before {
    content: "\e90a";
}
.icon-parking:before {
    content: "\e901";
}