@import 'bootstrap/_bootstrap-custom.scss';
@import 'bootstrap/_bootstrap-sprockets.scss';

@import 'animate/_animate-custom.scss';

$fa-font-path: "../fonts/font-awesome";
@import 'font-awesome/font-awesome.scss';

@import 'components/slick.scss';
@import 'components/slick-theme.scss';
// BEGIN THEME STYLES
// @import 'metronic/scss/global/components-rounded.scss';
// @import 'metronic/scss/global/plugins.scss';
// @import 'metronic/scss/admin/layout3/layout.scss';
// @import 'metronic/scss/admin/layout3/themes/default.scss';
@import 'metronic/scss/global/_variables.scss';
@import 'metronic/scss/global/components/_mixins.scss';
@import 'metronic/scss/global/components/_portlets.scss';
@include porlet-box(red, $color-red, #fff);
@include porlet-box(purple-plum, $color-purple-plum, #fff);
@include porlet-box(blue-hoki, $color-blue-hoki, #fff);
@include porlet-box(yellow, $color-yellow, #fff);
@include porlet-box(brand, $color-brand, #fff);
// END THEME STYLES

.btn {
  outline: 0!important;
}

.nav-center {
  text-align: center;
}

.nav-center>li {
  float: none;
  display: inline-block;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.label {
  border-radius: 0;
}

body {
  font-family: "Open Sans",sans-serif;
  background: linear-gradient(90deg, #61c419 0%,#61c419 0%,#fd912b 100%);
}

header {
  .page-logo,
  .phone,
  .favorites-header,
  .city-picker {
    @include make-xs-column(6);
    @include make-sm-column(3);
  }
  .page-logo {
    a {
      display: inline-block;
      color: #fff;
      font-size: 24px;
      margin: 29.5px 0;
      line-height: 24px;
      text-decoration: none;
      span {
        color: #000;
      }
    }
  }
  .phone {
    text-align: right;
    padding-top: 24px;
    a {
      &:hover {
        text-decoration: none;
      }
      &.tel {
        font-size: 20px;
        color: #fff;
      }
    }
  }
  .city-picker {
    margin: 24px 0;
    text-align: right;
  }
  .callRequest {
    a {
      color: #000;
    }
  }
  .favorites-header {
    text-align: right;
    color: #fff;
    padding-top: 24px;
    #favorites-mini {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
    }
  }
}
#prime-cont {
  margin-bottom: 20px;
}
.page-container {
  @include clearfix;
  background: #eff3f8;
}
.page-content {
  padding: 15px 0;
}
.prefooter {
  background: #fff;
  color: #a2abb7;
  padding: 30px 0;
  clear: both;
  .block {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);
  }
  .block-about {
    @include make-sm-column(12);
    @include make-md-column(6);
  }
  h2 {
    color: $color-green;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 12px;
  }
}
footer {
  padding: 17px 0;
  background: #3b434c;
  color: #a2abb7;
}

.scroll-to-top {
  padding: 2px;
  color: $color-grey-mint;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  right: 20px;
  cursor: pointer;
  transition: opacity .5s;
  & > i {
    display: inline-block;
    font-size: 32px;
    opacity: .7;
    filter: alpha(opacity=70)
  }
  &:hover > i {
    opacity: 1;
    filter: alpha(opacity=100)
  }
  @media (max-width: 991px) {
    .scroll-to-top {
      right:10px;
      & > i {
        font-size: 28px
      }
    }
  }
}

// END THEME STYLES
.promo {
  color: #fff;
  background: linear-gradient(90deg, #61c419 0%,#61c419 0%,#fd912b 100%);
  padding: 20px 0 40px;
  h2 {
    text-align: center;
  }
  h3 {
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 13px;
    letter-spacing: -1px;
  }
}
.page-head {
  background-color: #fafafa;
  h1.page-title {
    color: #697882;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    padding: 19px 0;
    small {
      color: #9eacb4;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .page-toolbar {
    display: inline-block;
    float: right;
    padding: 19px 0;
  }
}
@-webkit-keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.icon-spinner {
  animation: anim-rotate 1.25s infinite linear;
  transform-origin: 50% 50% 0;
  display: inline-block;
}
.grade-label {
  font-size: 14px;
  background: $color-blue-steel;
}
.page-container {
  margin-top: $def-margin;
}