$border-radius-base: 0;
$border-radius-small: 0;
$link-color: $color-blue-steel;
$input-border: #c2cad8;
$input-border-focus: #93a1bb;
$bc-media-height: 400px;
$searchmap-height: 400px;
$def-min-margin: 15px;
$def-margin: 20px;

$btn-border-radius-large: 0;
$btn-primary-bg: #337ab7;
$btn-primary-border: #2e6da4;